<section
  class="vh-100 bg-image"
  style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg');"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">

    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">

            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Edit User</h2>
              {{#if errorMsg}}
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                >
                  <strong>User with this E-Mail already exists</strong>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              {{/if}}
              {{! Form }}
              <form
                action="/admin/edit-user/{{userDetails._id}}"
                id="editUserForm"
                method="POST"
              >

                <div class="mb-3">
                  <label for="">Edit User Name</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id=""
                    value="{{userDetails.name}}"
                  />
                </div>
                <div class="mb-3">
                  <label for="">Email address</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id=""
                    value="{{userDetails.email}}"
                    disabled
                  />
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >Submit</button>
                </div>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="staticBackdrop"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Are You
                          Sure?</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >Close</button>
                        <button
                          type="button"
                          class="btn btn-primary"
                          onclick="editUsers()"
                        >Save Changes</button>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  function editUsers(){ document.getElementById('editUserForm').submit() }
</script>